body{
	background: linear-gradient(90deg,rgba(2, 0, 128, 1) 0%, rgba(0, 0, 66, 1) 35%, rgba(0, 0, 0, 1) 100%);
	margin: 0px;
}

.riba{
width: 1920px;
height: 50px;
background-color: rgb(20, 19, 39);
display: block;
}

.github{
	font-size: 20px;
	margin-left: 900px;
	margin-top: 0px;
	border: none;
	background: none;
	color: rgb(99, 97, 97);
	padding: 10px;
	padding-bottom: 16px;
	  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.github:hover{
	background-color: rgb(32, 21, 82);
	cursor: pointer;
}
#databox{

	width: 500px;
	height: 600px;
	background: transparent;
	border: 2px solid white;
	padding: 20px;
	margin: 20px;
	color: white;

}

#infoks{

font-style: italic;
font-size: 25px;
color: white;
margin-top: -420px;
}

#logo{
	width: 300px;
	height: 300px;
	background: transparent;
	border: 2px solid white;
	padding: 20px;
	margin: 0px;
	color: white;
	margin-left: 550px;
	margin-top: -65px;
}

#valikud {
	margin-top:160px;
}

#news{
	margin-left: 800px;
	margin-top: 250px;
	border: 1px solid white;
	width: 900px;
	height: 400px;
	color: white;
}

#price{

font-style: italic;
font-size: 25px;
color: white;
margin-top: 10px;
}

select,
::picker(select) {
  appearance: base-select;
}
select {
  border: 2px solid #dddddd;
  background: none;
  padding: 10px;
  transition: 0.4s;
}
select:hover,
select:focus {
  background: #A9A9A9;
}
select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
label{
	font-size: 25px;
	font-family: italic;
}





